@model Theater_Drill_MVC.Models.ViewModels.MovieTheaterViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="m-5"><a href="/movies/new" class="btn btn-primary">Add Movie</a></div>
<div class="movies-container">
    @if (Model.Movies.Count != 0)
    {
        foreach (Movie movie in Model.Movies)
        {
            <div class="movie-container">
                <a href="@("/movies/details/"+movie.ID)">
                    <div>
                        <img src="@movie.ImageUrl" alt="@movie.Title" width="200" , height="280" />
                    </div>

                    <div>
                        <h4 class="text-center">@movie.Title</h4>
                        <h6 class="text-center">@movie.Genre </h6>
                    </div>
                </a>
            </div>
        }
    }
</div>

@*
    <div>
        @if (Model.Auditoriums.Count != 0)
        {
            foreach (Auditorium item in Model.Auditoriums)
            {
                <div>
                    <a href="@("/auditoriums/details/"+item.ID)">
                        <div>
                            <h4 class="text-center">@item.Name</h4>

                        </div>
                    </a>
                </div>
            }
        }
    </div>
*@


