@model Theater_Drill_MVC.Models.ViewModels.ScheduleViewModel
@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-primary" href="/schedule/new">Schedule New Movie</a>
<br />
<br />
<h5 class="text-center">List of all Scheduled Movies:</h5>
<br />
<table class="table">
    <tr class="table-info">
        <th>Movie</th>
        <th>Auditorium</th>
        <th>Screening Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model.schedules)
    {

        <tr class="table-light">
            <td>@item.Movie.Title</td>
            <td>@item.Auditorium.Name</td>
            <td>@item.ScreeningTime.ToString("g")</td>
            <td> <a href="@("/schedule/edit/"+item.ID)">Edit</a> <a href="@("/schedule/delete/"+item.ID)">Delete</a></td>
        </tr>
    }
</table>